<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Meet SyncMate 8 and get a special offer</title>
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../dist/styles.css" inline>
</head>
<body>
  письмо делаем на электронике

макет: https://zpl.io/aBpPmEK

rрафика в аттаче, гифки еще нет, ссылок еще нет
<a href="https://docs.google.com/document/d/1RNqR75KJvZTXgv0pUGCtOW5Ch4x_nz1MwwcJG_i5LeA/edit"></a>

  <table class="body">
    <tr>
      <td>
        <center>
          <spacer size="30"></spacer>
          <container>
            <row>
              <columns large="6" small="6" class="no-pl">
                <a href="https://www.sync-mac.com/" class="logo" target="_blank"><img src="https://mac.eltima.com/submit/promo/41168/img/logo@2x.png" width="93" height="27" alt="Electronic Team, Inc."><span class="show-for-large color-ffffff">Electronic Team, Inc</span></a>
              </columns>
              <columns large="6" small="6" class="no-pr">
                <p class="text-right">
                  <a href="https://mac.eltima.com/submit/promo/41168/index.html" target="_blank" class="open-browser"><img src="https://mac.eltima.com/submit/promo/41168/img/open.png" width="30" height="30" alt="open in browser"></a>
                </p>
              </columns>
            </row>
            
            <row>
              <columns>
                <center>
                  <img src="https://mac.eltima.com/submit/promo/41168/img/syncmateIcon.png" class="logo-img" width="360" height="210" alt="SyncMate logo" />
                </center>
              </columns>
            </row>
            <spacer size="18"></spacer>
            <row>
              <columns>
                <center>
                  <img src="https://mac.eltima.com/submit/promo/41168/img/badge.png" width="134" height="24" alt="badge" />
                </center>
                <spacer size="22"></spacer>
                <h1 class="heading text-center">Meet SyncMate&nbsp;8<br> and get a special offer</h1>
                <spacer size="12"></spacer>
                <p class="heading-description text-center">All-in-one sync tool for Mac. Now on Catalina.</p>
                <spacer size="18"></spacer>
                <p class="basic-text text-center">Thank you for being a loyal user of our software. We thought you might be interested in the new version of our trusty SyncMate - a Mac app that can sync and transfer data between your computer and numerous supported devices (phones, external drives, etc.) and cloud accounts.</p>

              </columns>
            </row>
            <spacer size="28"></spacer>
            <row class="collapse">
              <columns>
                <center>
                  <row class="collapse">
                    <columns large="2" small="12"></columns>
                    <columns large="4" small="12" class="custom-columns">
                      <button href="https://www.sync-mac.com/syncmate-download.html" class="radius secondary m-b-10-mob">Try for free</button>
                    </columns>
                    <columns large="6" small="12">
                      <button href="https://www.sync-mac.com/syncmate-upgrade/?coupon=SM8-NWSLTTR-MC" class="radius large">Get it at 50% OFF</button>
                    </columns>
                    <columns large="2" small="12"></columns>
                  </row>
                  
                </center>
                <spacer size="15"></spacer>
                <row>
                  <columns>
                    <center>
                      <span class="small-description center-on-mobile">Compatible with macOS 10.10 and later</span> 
                    </center>
                  </columns>
                </row> 
              </columns>
            </row>
            <spacer size="36"></spacer>
          </container>
        </center>
      </td>
    </tr>
  </table>
  <table class="body">
    <tr>
      <td>
        <center>
          <container class="bkg-secondary radius">
            <spacer size="45"></spacer>    
            <row>
              <columns>
                <h3 class="heading-3 text-center main-color">What you can do with SyncMate</h3>
              </columns>
            </row>    
            <spacer size="14"></spacer>
            <row class="custom-row">
              <columns large="6" small="12" class="center-on-mobile">
                <img src="https://mac.eltima.com/submit/promo/41168/img/smDevices.png" width="250" height="200" alt="multiple devices" />
              </columns> 
              <columns large="6" small="12" class="custom-col">
                <h3 class="heading-3 main-color">Synchronize Mac with multiple devices</h3>
                <spacer size="6"></spacer>
                <p class="small-text main-color">
                 No need to purchase several sync solutions — just download SyncMate and sync all supported devices within one application.
                </p>
              </columns>
            </row>
            <spacer size="20"></spacer> 
          
            <row class="custom-row show-for-large">
              
              <columns large="6" small="12" class="custom-col">
                <h3 class="heading-3 main-color">Synchronize Mac with cloud accounts</h3>
                <spacer size="7"></spacer>
                <p class="small-text main-color">
                 Sync data with online accounts and cloud storages! Outlook account and Office 365, iCloud storage, Google account, or even with your Dropbox account!
                </p>
              </columns>
              <columns large="6" small="12" class="center-on-mobile">
                <img src="https://mac.eltima.com/submit/promo/41168/img/smClouds.png" width="250" height="200" alt="cloud accounts" />
              </columns> 
            </row>
            <row class="custom-row hide-for-large">

              <columns large="6" small="12" class="center-on-mobile">
                <img src="https://mac.eltima.com/submit/promo/41168/img/smClouds.png" width="250" height="200" alt="cloud accounts" />
              </columns>
              <columns large="6" small="12" class="custom-col">
                <h3 class="heading-3 main-color">Synchronize Mac with cloud accounts</h3>
                <spacer size="7"></spacer>
                <p class="small-text main-color">
                 Sync data with online accounts and cloud storages! Outlook account and Office 365, iCloud storage, Google account, or even with your Dropbox account!
                </p>
              </columns>
               
            </row>
            <spacer size="20"></spacer>

            <row class="custom-row">
              <columns large="6" small="12" class="center-on-mobile">
                <img src="https://mac.eltima.com/submit/promo/41168/img/smSyncOptions.png" width="250" height="200" alt="numerous sync options" />
              </columns> 
              <columns large="6" small="12" class="custom-col">
                <h3 class="heading-3 main-color">Numerous sync options</h3>
                <spacer size="6"></spacer>
                <p class="small-text main-color">
                 SyncMate lets you sync your Calendars, Reminders, Contacts, Safari bookmarks, Music, Photos. SyncMate lets you read and manage your SMS messages as well as text your friends and browse Call History directly from your Mac.
                </p>
              </columns>
            </row>
            <spacer size="18"></spacer>
            <row>
              <columns>
                <center>
                  <button href="https://www.sync-mac.com/" class="radius secondary small">Learn more <span class="show-for-large">about SyncMate, supported devices and sync options →</span></button>
                </center>
              </columns>
            </row>
            <spacer size="12"></spacer>
          </container>
          <spacer size="20"></spacer>
          <container class="bkg-color-1f4957 radius">

            <row>
              <columns large="4" small="12" class="center-on-mobile custom-col">
                <center>
                  <img src="https://mac.eltima.com/submit/promo/41168/img/discount.png" width="140" height="220" alt="discount" />               
                </center>
              </columns>
          
              <columns large="8" small="12" class="custom-col">
                <spacer size="40"></spacer>
                <row>
                  <columns>
                    <h3 class="heading-3 color-ffffff center-on-mobile">SyncMate Special offer</h3>
                    <spacer size="10"></spacer>
                    <p class="small-text secondary-color">
                     As a registered user you can get SyncMate 8 Expert with the 50% discount!<br>
                     (original pricing starts at $39.95)
                    </p>
                    <spacer size="20"></spacer>
                  </columns>
                </row>
          
                <row class="collapse">
                  <columns>
                    <button href="https://www.sync-mac.com/syncmate-upgrade/?coupon=SM8-NWSLTTR-MC" class="radius large">Get it at 50% OFF</button>
                  </columns>
                  <spacer size="10"></spacer>
                </row>
              </columns>
            </row>
          </container>
          <spacer size="20"></spacer>
          <container class="bkg-secondary radius">
            <spacer size="40"></spacer>
            <row>
              <columns>
                <h3 class="heading-3 text-center main-color">So what we’ve got for you in this version?</h3>
              </columns>
            </row>
             
            <spacer size="14"></spacer>
            <row class="custom-row">
              <columns large="6" small="12" class="center-on-mobile custom-col">
                <center>
                  <img src="https://mac.eltima.com/submit/promo/41168/img/Catalina.jpg" width="250" height="240" alt="Catalina" />
                  
                </center>
                <spacer size="22"></spacer>
                <h3 class="heading-3 text-center main-color">SyncMate works perfectly on macOS Catalina</h3>
                <spacer size="10"></spacer>
                <p class="small-text text-center main-color">
                 Yes, you can now sync data between your Catalina running Mac and any device SyncMate supports.
                </p>      
              </columns>
              <columns large="6" small="12" class="center-on-mobile custom-col">
                <center>
                  <img src="https://mac.eltima.com/submit/promo/41168/img/mobile.jpg" width="250" height="240" alt="Mobile" />
                </center>
                <spacer size="22"></spacer>
                <h3 class="heading-3 text-center main-color">Fully compatible with<br> Android 10 & iOS 13</h3>
                <spacer size="10"></spacer>
                <p class="small-text text-center main-color">
                 SyncMate 8 Expert is fully compatible with Android 10 devices. Not an Android fan? SyncMate 8 Expert works flawlessly with iOS 13 devices too.
                </p>     
              </columns>

            </row>
            <spacer size="40"></spacer>
            
          </container>
          <spacer size="20"></spacer>

          <container class="bkg-secondary radius">
          
            <spacer size="40"></spacer>

            <row class="collapse">
              <columns large="3" small="12" class="center-on-mobile mod">
                <img src="https://mac.eltima.com/submit/promo/41168/img/sm.png" class="img-cart" width="120" height="120" alt="SM logo" /> 
              </columns>

              <columns large="9" small="12" class="custom-col mod">
                <row class="collapse custom-collapse">
                  <columns class="custom-columns">
                    <h3 class="heading-3 main-color center-on-mobile">SyncMate<br> All-in-one sync tool for Mac</h3>
                    <spacer size="10"></spacer>
                    <p class="small-text main-color">
                    Don’t miss exclusive offer for our registered users — new release at a fraction of the price.
                    </p>
                    <spacer size="18"></spacer>
                  </columns>
                </row>

                <row class="collapse custom-collapse">
                  <columns large="6" small="12" class="custom-columns">
                    <button href="https://www.sync-mac.com/syncmate-upgrade/?coupon=SM8-NWSLTTR-MC" class="radius large">Get it at 50% OFF</button>
                  </columns>
                  <columns large="4" small="12" class="custom-columns">
                    <p class="custom-link">
                      <span class="basic-span">or</span>
                      <a href="https://www.sync-mac.com/syncmate-download.html" class="basic-link main-color">Try for free</a>
                      
                    </p>
                  </columns>
                  <spacer size="15"></spacer>
                  
                </row>
                <row class="collapse custom-collapse">
                  <columns large="12" small="12" class="custom-columns">
                    <span class="small-description center-on-mobile color-899da3">Compatible with macOS 10.10 and later</span> 
                  </columns>
                  <spacer size="0"></spacer>
                </row>
                
                <spacer size="25"></spacer> 
              </columns>
            </row>

          </container>
          <spacer size="100"></spacer>
         
        </center>
      </td>
    </tr>
  </table>

</body>
</html>